body {
    background-color: #979797;
    color: #fff;
    margin: 0;
    padding: 0;
}

.page {
    max-width: 300px;
    margin: 0 auto 30px auto;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

#submit {
    font-size: 90%;
    text-align: center;
    text-transform: none;
    border: 2px solid rgb(43, 85, 131);
    background-color: aquamarine;
}

